# Configuration for
#   github.com/mlouhivu/test-bot.git

[gnu]
 compiler=gcc

 (fortran)
  compiler=gfortran

 (fortran+mpi)
  compiler=mpif90

 (+omp)
  compile-options='-fopenmp'

[intel]
 compiler=icc

 (fortran)
  compiler=ifort

 (c+mpi)
  compiler=mpicc

